<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>
        body{
            background-image: url("{% static 'images/site.jpg' %}");
            background-position: center;
            background-size: cover;
            height: 750px;
            background-repeat: no-repeat
        }

        .navbar{
            background-color: #92def7;
            overflow: hidden;
            float: left;
            width: 100%;
            text-align: center;
            text-decoration: none;
            font-size: 32px;
            padding: 8px 8px;
        }

        .navbar a:hover{
            text-decoration: none;
        }

        .navbar-right a{
            margin-left: 16px;
        }


    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dating solution</title>
</head>
<body>

    <div class="navbar">
        <a href="/">Dating solution</a>
        <div class="navbar-right">
            <a href="/login" class="login_text">Login</a>
            <a href="/signup" class="register text">Register</a>
        </div>
    </div>

</body>
</html>