{% extends "registration/RegisterBase.html" %}
{% block title %} Login {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="sign-up form" style="max-width: 600px">
        <h1 class="mt-2">Dating app Login</h1>
        <hr class="mt-0 mb-4">
        <form method="post" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <p>Don't have an account?<a href="/signup"> Create one.</a></p>
            <button type="submit" class="btn btn-success">Login</button>

        </form>
    </div>
{% endblock %}
