<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title%}{% endblock %}</title>
    <style>
        .wrapper{
            background-image: url("{% static 'images/background.png' %}");
            background-position: center;
            background-size: cover;
            height: 750px;
            overflow-x: hidden;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <div class="wrapper">
    <div class="row justify-content-center" style="padding-top: 100px">
        <div class="col-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>


   
    </div>
</body>
</html>